<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/font/css/all.css" rel="stylesheet" type="text/css" th:href="@{/font/css/all.css}"/>
    <link href="../static/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap-datetimepicker.min.css}"/>

    <script href="../static/js/jquery-3.4.1.min.js" type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script href="../static/js/jquery-3.4.1.js" type="text/javascript" th:src="@{/js/jquery-3.4.1.js}"></script>
    <script href="../static/js/moment.min.js" type="text/javascript" th:src="@{/js/moment.min.js}"></script>
    <script href="../static/js/moment.js" type="text/javascript" th:src="@{/js/moment.js}"></script>
    <script href="..static/js/bootstrap-datetimepicker.min.js" type="text/javascript"
            th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
    <script href="../static/js/bootstrap-datetimepicker.js" type="text/javascript"
            th:src="@{/js/bootstrap-datetimepicker.js}"></script>
    <script href="../static/js/bootstrap.js" type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script href="../static/js/bootstrap.min.js" type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

    <script href="../static/js/service/altaCuenta.js" type="text/javascript"
            th:src="@{/js/service/altaCuenta.js}"></script>
    <title>Alta</title>
</head>
<body>
<div class="container">
    <div role="dialog">
        <div>
            <div>
                <div class="panel-heading" id="colorFondo">
                    <img id="logo" th:src="@{/img/profile.png}" width="50" height="50">
                    <label style="text-align:center;size: B4;color: white" id="tituloModal">Captura de Cuenta</label>
                </div>

                <!--Modal Body-->
                <div class="panel-body" style="padding:40px 50px;">
                    <form role="form">

                        <div class="form-group">
                            <label for="numCard"><span class="fa fa-credit-card"></span> N&uacutemero de
                                Tarjeta </label>
                            <input type="text" class="form-control" id="numCard" placeholder="xxxxxxxxxxxxxxxx"
                                   maxlength="16" onkeypress="solonumeros(event)" required>
                        </div>

                        <div class="form-group col-sm-6">
                            <label for="cvv"><span class="fa fa-credit-card"></span> CVV/C&oacutedigo de
                                Seguridad </label>
                            <input type="text" class="form-control" id="cvv" placeholder="xxx" maxlength="3"
                                   onkeypress="solonumeros(event)">
                        </div>

                        <div class="form-group col-sm-6">
                            <label for="cvv">Fecha de Expiraci&oacuten</label>
                            <div class="form-group" disabled>
                                <div class='input-group date' id='fecha' disabled>
                                    <input type='text' class="form-control"/>
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="aliasCard"><span class="fa fa-user"></span> Alias de tarjeta </label>
                            <input type="text" class="form-control" id="aliasCard" placeholder="" maxlength="10">
                        </div>

                    </form>
                </div>

                <!--Modal Footer-->
                <div class="form-group">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"
                            onclick="limpiarDatos()"><span
                            class="fa fa-window-close"></span> Cancel
                    </button>
                    <button type="submit" class="btn btn-success btn-default pull-left" data-dismiss="modal"
                            onclick="envioAltaController()"><span
                            class="fa fa-check"></span> Aceptar
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
