<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/font/css/all.css" rel="stylesheet" type="text/css" th:href="@{/font/css/all.css}"/>
    <link href="../static/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap-datetimepicker.min.css}"/>

    <script href="../static/js/jquery-3.4.1.min.js" type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script href="../static/js/jquery-3.4.1.js" type="text/javascript" th:src="@{/js/jquery-3.4.1.js}"></script>
    <script href="../static/js/moment.min.js" type="text/javascript" th:src="@{/js/moment.min.js}"></script>
    <script href="../static/js/moment.js" type="text/javascript" th:src="@{/js/moment.js}"></script>
    <script href="..static/js/bootstrap-datetimepicker.min.js" type="text/javascript"
            th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
    <script href="../static/js/bootstrap-datetimepicker.js" type="text/javascript"
            th:src="@{/js/bootstrap-datetimepicker.js}"></script>
    <script href="../static/js/bootstrap.js" type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script href="../static/js/bootstrap.min.js" type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

    <script href="../static/js/service/devolucion.js" type="text/javascript"
            th:src="@{/js/service/devolucion.js}"></script>

    <title>Devoluci&oacuten</title>
</head>
<body>
<div class="container">
    <h2>Home</h2>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-default btn-lg" id="myBtn">Click</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:25px 50px;">
                    <h4><span class="glyphicon glyphicon-card"></span>Devoluci&oacuten</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form role="form">
                        <!--CUENTA ENMASCARADA-->
                        <div class="form-group">
                            <label for="count"><span class="fa fa-credit-card"></span> N&uacutemero de
                                tarjeta </label>
                            <input type="text" class="form-control" id="count" placeholder="xxxx xxxx xxxx xxxx"
                                   maxlength="16">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="monto"><span class="fa fa-usd"></span> Monto de la Transacci&oacuten </label>
                            <input type="text" class="form-control" id="monto" placeholder="$000">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="codTxn"> C&oacutedigo de Autorizaci&oacuten </label>
                            <input type="text" class="form-control" id="codTxn" placeholder="0000">
                        </div>
                        <div class="form-group">
                            <label for="ref"> N&uacutemero de referencia de la venta </label>
                            <input type="text" class="form-control" id="ref" placeholder="00000">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">

                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                    <button type="submit" class="btn btn-success btn-default pull-left" data-dismiss="modal" id="envio()"><span
                            class="glyphicon glyphicon-check"></span> Aceptar
                    </button>

                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
