<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"><!--xmlns:th="https://www.thymeleaf.org"-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/font/css/all.css" rel="stylesheet" type="text/css" th:href="@{/font/css/all.css}"/>
    <link href="../static/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap-datetimepicker.min.css}"/>

    <script href="../static/js/jquery-3.4.1.min.js" type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script href="../static/js/jquery-3.4.1.js" type="text/javascript" th:src="@{/js/jquery-3.4.1.js}"></script>
    <script href="../static/js/moment.min.js" type="text/javascript" th:src="@{/js/moment.min.js}"></script>
    <script href="../static/js/moment.js" type="text/javascript" th:src="@{/js/moment.js}"></script>
    <script href="..static/js/bootstrap-datetimepicker.min.js" type="text/javascript"
            th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
    <script href="../static/js/bootstrap-datetimepicker.js" type="text/javascript"
            th:src="@{/js/bootstrap-datetimepicker.js}"></script>
    <script href="../static/js/bootstrap.js" type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script href="../static/js/bootstrap.min.js" type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

    <!--JS propios de la lógica del negocio-->
    <script href="../static/js/service/altaCuenta.js" type="text/javascript"
            th:src="@{/js/service/altaCuenta.js}"></script>

    <title>Home</title>
</head>
<body>
<h1>Welcome!</h1>

<!--<p>Click <a th:href="@{/altaCuenta}">here</a> to see a greeting.</p>-->
<!--                <p>Click <a th:href="@{/swagger-ui.html}">here</a> to see a greeting.</p>-->
<button onclick="enviaParamPeticion()" type="button" class="btn btn-default btn-lg">Click</button>
</body>
</html>