<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"><!--xmlns:th="https://www.thymeleaf.org"-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/font/css/all.css" rel="stylesheet" type="text/css" th:href="@{/font/css/all.css}"/>
    <link href="../static/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap-datetimepicker.min.css}"/>

    <script href="../static/js/jquery-3.4.1.min.js" type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script href="../static/js/jquery-3.4.1.js" type="text/javascript" th:src="@{/js/jquery-3.4.1.js}"></script>
    <script href="../static/js/moment.min.js" type="text/javascript" th:src="@{/js/moment.min.js}"></script>
    <script href="../static/js/moment.js" type="text/javascript" th:src="@{/js/moment.js}"></script>
    <script href="..static/js/bootstrap-datetimepicker.min.js" type="text/javascript"
            th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
    <script href="../static/js/bootstrap-datetimepicker.js" type="text/javascript"
            th:src="@{/js/bootstrap-datetimepicker.js}"></script>
    <script href="../static/js/bootstrap.js" type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script href="../static/js/bootstrap.min.js" type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

    <!--JS propios de la lógica del negocio-->
    <script href="../static/js/service/altaCuenta.js" type="text/javascript"
            th:src="@{/js/service/altaCuenta.js}"></script>

    <title>Home</title>
</head>
<body>
<h1>Welcome!</h1>
<form action="@{/alta}" method="post" enctype="multipart/form-data">
    <input type="text" id="URL_CALLBACK" value=""/>
    <input type="text" id="APP_TOKEN_SMART" value="b8118b3c7a5e440f783453a5bb73b6596f789dbe33b689e9bbbbcc33685e35a7"/>
    <input type="text" id="APP_ID_CLIENT" value="1"/>
    <input type="text" id="APP_ID_TXN" value="121212"/>
    <input type="text" id="APP_URL_IMG" value="https://www.freepng.es/png-e8l782/"/>
    <input type="text" id="APP_MAIN_TEXT" value="Datos Tarjeta"/>
    <input type="text" id="APP_BACK_COLOR" value="#35B005"/>
    <input type="text" id="APP_FIELD_COLOR" value="#131313"/>
    <input type="submit"/>
</form>

<p>Click <a th:href="@{/altaCuenta}">here</a> to see a greeting.</p>
<!--                <p>Click <a th:href="@{/swagger-ui.html}">here</a> to see a greeting.</p>-->
<!--        <button onclick="enviaParamPeticion()" type="button" class="btn btn-default btn-lg">Click</button>-->
</body>
</html>